* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    width: 300px;
    height: 100px;
    border: 2px solid gray;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
}

.timer span {
    font-size: 40px;
    font-weight: bold;
    color: green;

}

.jokes {
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.8);


}

.jokes p {
    height: 200px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8);

}

.jokes button {
    border: none;
    padding: 10px 30px;
    background: #dc143c;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;


}

.randomuser {
    height: 600px;
    width: 400px;
    background: #ecf0f3;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

.randomuser img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.randomuser p{
    padding: 10px;
    font-size: 14px;
}
.randomuser p span{
    font-weight: bold;
    font-size: 18px;

}
.randomuser button{
    position: absolute;
    left: 25%;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background: cornflowerblue;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;


}